body {
    padding: 0; /* Removes default padding */
    margin: 0;  /* Removes default margin */
    background-color: rgb(255, 255, 255);
}

/* this is this section has the jordan logo & customer-support-container for example: 
find a store (retail), help, join us (membership) & sign in */

.first-header {
    width: 100%;
    height: 35px;
    /* border: 1px solid black;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.jordan-logo {
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
    border-radius: 100px;
    margin-left: 45px;
}

.customer-support-container {
    width: 260px;
    height: 30px;
    /* border: 1px solid black; */
    margin-right: 60px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.retail {
    font-size: 12px;
    font-weight: 600;
    /* line-height: 18px; */
    font-family: sans-serif;
    text-align: center;
    width: 85px;
    height: 15px;
    border-right: 0.5px solid black;
}

.help {
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    width: 50px;
    height: 15px;
    border-right: 0.5px solid black;
}

.membership {
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    width: 60px;
    height: 15px;
    border-right: 0.5px solid black;
}

.sign-in {   
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center; 
    width: 50px;
    height: 15px;
}

/* end of this section */

/* main header section has the nike logo inside with multiple categories like:
New & Featured Men Women Kids Sale & searching bar with favorites and a shopping bag */

.main-header {
    width: 100%;
    height: 60px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nike-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 60px;
    /* border: 1px solid black;  */
    margin-left: 33px;
}

.categories-hub {    
    width: 455px;
    height: 55px;
    /* border: 1px solid black;  */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 117px; /* Moves right */
}    

.featured-container {
    font-size: 17px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 550;
    line-height: 43px;
    width: 135px;
    height: 45px;
    /* border: 1px solid black; */
}

.men-container {
    font-size: 17px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 550;
    line-height: 43px;
    width: 60px;
    height: 45px;
    /* border: 1px solid black; */
}

.women-container {
    font-size: 17px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 550;
    line-height: 43px;
    width: 70px;
    height: 45px;
    /* border: 1px solid black; */
}

.kids-container {
    font-size: 17px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 550;
    line-height: 43px;
    width: 60px;
    height: 45px;
    /* border: 1px solid black; */
}

.sale-container {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 550;
    line-height: 43px;
    width: 60px;
    height: 45px;
    /* border: 1px solid black; */
}

.shopping-navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 270px;
    height: 40px;
    /* border: 1px solid black; */
    margin-right: 55px;
}

.search-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;  
    width: 160px;
    height: 35px;
    border: 1px solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    border-radius: 100px;
    cursor: pointer;
}

.search-input-wrapper:hover {
    background-color: rgb(235, 235, 235);
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    /* border: 1px solid black; */
    background-color: rgb(245, 245, 245);
    border-radius: 100px;
    cursor: pointer;
}

.search-bar:hover {
    background-color: rgb(235, 235, 235);;
}
 
.search-bar {
    width: 100px;
    height: inherit;
    /* border: 1px solid black; */
    margin-left: 3px;
    font-size: 17px;
    color: rgb(126, 126, 126);
    font-family:"Helvetica Now Text", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 35px;
}

.favorites-and-cart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75px;
    height: 35px;
    /* border: 1px solid black; */
    margin-left: 10px;
}

.favorites-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    /* border: 1px solid black; */
    border-radius: 100px;
    cursor: pointer; 
}

.favorites-button:hover {
    background-color: rgb(230, 230, 230); /* Background color on hover */
}

.shopping-bag-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    /* border: 1px solid black; */
    /* background-color: whitesmoke; */
    border-radius: 100px;
    cursor: pointer; 
}

.shopping-bag-button:hover {
    background-color: rgb(230, 230, 230); /* Background color on hover */
}

/* end of this section */

/* this section has Free Delivery & Returns, also this text:
Nike Members get free delivery and free 30-day returns. Learn More Join Us*/

.secondary-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    height: 57px;
    /* border: 1px solid black; */
    font-family: sans-serif;
}

.membership-text-wrapper {
    line-height: 12px;
    font-size: 17.2px;
    font-weight: 530;
    font-family: inherit;
}

.membership-benefits {
    font-size: 12px;
    font-family: inherit;
}

/* end of this section */

/* nike video card section is where the video plays with the "Go Back Better" 
text and the shop + kids button */

.nike-card-video {
    width: 100%;
    height: 660px;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
}

.card-overlay-content { 
    width: 242px;
    height: 295px;
    border: 1px solid black;
    /* background-color: white; */
    position: relative;
    left: 50px; /* Moves right */
    top: 315px;
}

.quote-text-large {
    color: whitesmoke;
    letter-spacing: -5px;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    width: inherit;
    height: 195px;
    border: 1px solid black;
}

.quote-text-small {
    font-size: 17.5px;
    font-weight: 540;
    line-height: 52px;
    text-align: justify;
    font-family: sans-serif;
    width: inherit;
    height: 45px;
    color: whitesmoke;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
}

.shop-back-to-school-container {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    width: inherit;
    height: 50px;
    border: 1px solid black;
    /* background-color: aliceblue; */
}

.shop-kids-wrapper {
    line-height: 33px;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: white;
    cursor: pointer;
}

.shop-kids-wrapper:hover {
    background-color: rgb(211, 211, 211);
}

.shop-all-wrapper {
    line-height: 33px;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    margin-left: 6px;
    width: 90px;
    height: 35px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: white;
    cursor: pointer;
    }

    .shop-all-wrapper:hover {
        background-color: rgb(211, 211, 211);
    }

    /* end of this section */

.primary-title-wrapper {
    background-color: white;
        width: 100%;
        height: 100px;
        /* border: 1px solid black;  */
        font-size: 25px;
        font-family: sans-serif;
    }

.primary-title {
    width: 195px;
    height: 30px;
    /* border: 1px solid black; */
    font-size: 23.5px;
    font-weight: 500;
    font-family: sans-serif;
    position: relative;
    top: 63px;
    left: 44px;
}

.action-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 20px;
    left: 1735px;
    width: 125px;
    height: 50px;
    /* border: 1px solid black; */
}

.left-action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    /* border: 1px solid black; */
    border-radius: 100%;
    background-color: rgb(245, 245, 245);
    cursor: not-allowed;
}

.right-action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    /* border: 1px solid black; */
    border-radius: 100%;
    background-color: rgb(245, 245, 245);
    transition: background-color 0.5s ease; 
    cursor: pointer; 
}

.right-action-button:hover {
    background-color: rgb(202, 202, 202); /* Background color on hover */
}

    /* end of this section */

.display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 800px;
    width: 100%;
    /* border: 1px solid black; */
}    

.image-container-v1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 610px;
   height: 780px;
   /* border: 1px solid black;  */
   /* background-color: black; */
}

.image-v1 {
    width: 570px;
    height: 727px;
    /* border: 1px solid black; */
    background-color: black;
    transition: background-color 5s;
    cursor: pointer;
}

.image-v1:hover {
    background-color: whitesmoke;
}

.image-v1-text {
    font-size: 19.5px;
    position: relative;
    top: 35px;
    right: 180px;
    font-family: sans-serif;
    width: 195px;
    height: 30px;
    /* border: 1px solid black; */
}

.image-container-v2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 610px;
    height: 780px;
    /* border: 1px solid black;  */
    /* background-color: black; */
}

.image-v2 {
    width: 570px;
    height: 727px;
    /* border: 1px solid black; */
    background-color: black;
    transition: background-color 5s;
    cursor: pointer;
}

.image-v2:hover {
    background-color: whitesmoke;
}

.image-v2-text {
    font-size: 19.5px;
    position: relative;
    top: 35px;
    right: 180px;
    font-family: sans-serif;
    width: 195px;
    height: 30px;
    /* border: 1px solid black; */
}

.image-container-v3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 610px;
    height: 780px;
    /* border: 1px solid black;  */
    /* background-color: black; */
}

.image-v3 {
    width: 570px;
    height: 727px;
    /* border: 1px solid black; */
    background-color: black;
    transition: background-color 5s;
    cursor: pointer;
}

.image-v3:hover {
    background-color: whitesmoke;
}

.image-v3-text {
    font-size: 19.5px;
    position: relative;
    top: 35px;
    right: 180px;
    font-family: sans-serif;
    width: 195px;
    height: 30px;
    /* border: 1px solid black; */
}

.icon-shop {
    width: 195px;
    height: 30px;
    /* border: 1px solid black */
    font-size: 23.5px;
    font-weight: 500;
    font-family: sans-serif;
    position: relative;
    top: 63px;
    left: 44px;
}